body{
    background-color: #009AFF;
    color: #00255E;
    margin: 0px;
    padding: 0px;
}

.dark-box{
    background-color: #001738;
    height: 120px;
    width: 100%;

    display: table;

}



.light{
    background-color: #8AC8FF
}


.square{
    margin: 0 auto;
    padding: 0px;
    width: 75px;
    height: 75px;

}

.weakness-list{
    
    display: table-cell;
    vertical-align: middle;
}
